
@import url('https://fonts.googleapis.com/css?family=Oswald|Ubuntu');
body {
background-color: #EEEEEE !important;
}

#maincontainer {
background-color: white;
width: 80%;
margin: auto;
box-shadow: 1px 1px 8px #888888;
}

#banner {
	background-image: url(http://del.h-cdn.co/assets/16/18/980x490/landscape-1462545626-macaroni-and-cheese-close-up.jpg);
	background-repeat: repeat;
	background-position: left top;
	padding: 100px;
	margin-bottom: 2px;
}

#textbox {
font-family: 'Ubuntu', sans-serif;
	font-size: 19px;
	color: #4d0099;
	width: 28%;
	float: right;
	padding:12px;
}
.navbar-default {
	margin: auto;
	font-size: 19px;
	font-family: 'Oswald', sans-serif;
}
.navbar-default a{
	color: black !important;
}
.navbar-default li:hover{
	background-color: #7631a0;
}
.navbar-default li a:hover{
	color: white !important;
  }
.dropdown-menu{
	font-family: 'Oswald', sans-serif;
}

  #footer {
		width: 100%;
		height: 60px;
  	text-align: center;
  background-color: #EEEEEE;
  	font-family: 'Oswald', sans-serif;
  	font-size: 20px;
		border-top: .5px solid black;
  }

	.carousel {
		width: 70%;
		float: left;
	}
	.carousel-inner img{
		height: 450px !important;
		margin: auto;
	}
#teams{
	width: 100%;
	padding-left: 12px;
}

#teams h1{
	font-family: 'Oswald', sans-serif;
	font-size: 42px;
	float: none;
	clear: both;
}
#teams h2{
	font-family: 'Oswald', sans-serif;
	clear: both;
}
.teamdesc{
border-bottom: solid #222222 1px;
}
.teamdesc p{
		font-family: 'Ubuntu', sans-serif;
		font-size: 16px;
		width: 100%;
}
@media all and (max-width:1100px) {
	#textbox{
		float: none;
		margin: auto;
		text-align: center;
		width: 100%;
		padding: 12px;
	}
	.carousel{
		float: none;
		margin: auto;
		width: 100%;
	}
}
