@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

@import url('https://fonts.googleapis.com/css?family=Oswald|Ubuntu');
body {
background-color: #EEEEEE !important;
}


#banner {
		background-image: url(https://i.imgsafe.org/11e4d70953.png);
	background-repeat: repeat;
	background-position: left top;
	padding: 100px;
	margin-bottom: 2px;
}

@media all and (max-width:1200px){
	#banner{
		background-image: url(https://i.imgsafe.org/11fa0bfae3.png);
	}
}
@media all and (max-width:900px){
#main-content{
		height: 3300px;
	}
}
@media all and (max-width:800px){
	#banner{
		background-image: url(https://i.imgsafe.org/1208f88231.png);
}
}

#textbox {
font-family: 'Ubuntu', sans-serif;
	font-size: 19px;
	color: #4d0099;
	width: 28%;
	float: right;
	padding:12px;
}
.navbar-default {
	margin: auto;
	font-size: 19px;
	font-family: 'Oswald', sans-serif;
}
.navbar-default a{
	color: black !important;
}
.navbar-default li:hover{
	background-color: #7631a0;
}
.navbar-default li a:hover{
	color: white !important;
  }
.dropdown-menu{
	font-family: 'Oswald', sans-serif;
}

.col-sm-6 {
	height: 300px;
	border-color: #000;
	border: solid;
	font-size: 16px;
	overflow: hidden;
}

.well-lg {
	width: 100%;
	height: 200px;
	background-image:url(https://s-media-cache-ak0.pinimg.com/236x/0b/ff/40/0bff4002c7a0f1a080b1c938b552c0b1.jpg);
	font-size: 25px;
	color: #CC0000;
	font-family: 'Ubuntu', sans-serif;table;
}

.container h1 {
	font-family: 'Anton', sans-serif !important;
}

.container h2 {
	font-family: 'Anton', sans-serif !important;
}

.container p {
	font-family: 'Fjalla One', sans-serif !important;
}